body {
  text-align: center;
  background-color: #f3eae3;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.img-desktop {
  width: 100%;
}


.right-side {
  width: 300px;
  padding-left: auto;
  padding-right: auto;
}

.left-side {
  width: 300px;
  padding-left: auto;
  padding-right: auto;
}
