body {
  text-align: center;
  background-color: #f3eae3;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
}

.img-desktop {
  width: 100%;

  object-fit: fill;
}


.right-side {
  text-align: start;
  padding-left: auto;
  padding-right: auto;
  height: 350px;
  width: 450px;
  /* background-color: aqua; */
  /* border-radius: 0 10px 10px 0; */
  margin: 25px;

}

.left-side {

  background-color: red;
  background-image: url("https://res.cloudinary.com/roldan-cloudinary/image/upload/v1729906913/image-product-desktop_c6em2k.jpg");
  background-size: cover;
  width: 500px;

  height: 400px;
  border-radius: 10px 0 0 10px;
}

.title {
  font-family: "Fraunces", serif;
  font-weight: 700;
}
