body {
  text-align: center;
  background-color: #f3eae3;
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
}

.img-desktop {
  width: 100%;

}


.right-side {
  text-align: start;
  padding-left: auto;
  padding-right: auto;

  background-color: aqua;
}

.left-side {

  background-color: red;

}
